<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tractor-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,212}}</string>
                <key>sourceSize</key>
                <string>{234,212}</string>
            </dict>
            <key>tractor-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,212}}</string>
                <key>sourceSize</key>
                <string>{234,212}</string>
            </dict>
            <key>tractor-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{234,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,212}}</string>
                <key>sourceSize</key>
                <string>{234,212}</string>
            </dict>
            <key>tractor-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,216},{234,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,212}}</string>
                <key>sourceSize</key>
                <string>{234,212}</string>
            </dict>
            <key>woodchuck-eat00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{79,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,108}}</string>
                <key>sourceSize</key>
                <string>{79,108}</string>
            </dict>
            <key>woodchuck-eat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,430},{79,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,108}}</string>
                <key>sourceSize</key>
                <string>{79,108}</string>
            </dict>
            <key>woodchuck-hit00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,430},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>woodchuck-hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,430},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>woodchuck-walking00.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,430},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>woodchuck-walking01.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,430},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>woodchuck-anim-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60c6d8b95509f9cac4d0b01f18965b7f:c4773576c0c5647e7ad5361bed5879ad:b8d918090b3ab491d14767e14bbb106c$</string>
            <key>textureFileName</key>
            <string>woodchuck-anim-hd.png</string>
        </dict>
    </dict>
</plist>
