<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tractor-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,106}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>tractor-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,106}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>tractor-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{117,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,106}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>tractor-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,110},{117,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,106}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>woodchuck-eat00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>woodchuck-eat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,218},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>woodchuck-hit00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,218},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>woodchuck-hit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,218},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>woodchuck-walking00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,218},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>woodchuck-walking01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,218},{39,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>woodchuck-anim.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60c6d8b95509f9cac4d0b01f18965b7f:c4773576c0c5647e7ad5361bed5879ad:b8d918090b3ab491d14767e14bbb106c$</string>
            <key>textureFileName</key>
            <string>woodchuck-anim.png</string>
        </dict>
    </dict>
</plist>
